<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREDITION</title>
    <style>
        body{
            background-color: rgb(38, 126, 89);
        }
    </style>
</head>
<body>
    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>Iris-setosa</h1>  
    <img src='static\flower2.jfif'>  

    {%else%}
    <h1>Iris-versicolor</h1>
    <img src='static\flower3.jfif'>
    
    {%endif%}

        <br><br>
    <a href='/'>BACK</a>

    </center>

</body>
</html>






